.faq {
  padding: 38px 5%;
  display: flex;
  justify-content: center;
  .d-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  &__card {
    margin: 0 auto 30px;
    max-width:1060px;
    width: 100%;
    border: 2px solid darken($color_tipsBg,10%);
    padding-bottom: 44px;
    .faq__subject {
      display: block;
      max-width: 354px;
      color: #fff;
      font-weight: 400;
      background-color: $color_tipsBrLeft;
      padding: 15px;
      font-size: 1.25rem;
      letter-spacing: 1.875px;
      margin: 38px auto;
      text-align: center;
      svg {
        margin-right: 5px;
      }
    }
    .panel-group {
      display: flex;
      justify-content: center;
      flex-direction: column;
      padding-left: 60px;
      @include breakpoint($ipad){
        padding-left: 0;
      }
      .panel {
        margin-bottom: 40px;
        box-shadow: none;
        .faq__heading {
          padding: 0 0 10px 70px;
          color: $color_tipsBrLeft;
          font-size: 1.2rem;
          line-height: 2em;
          text-indent: -4.25rem;
          .faq__title {
            a {
              text-decoration: none;
              span {
                padding: 10px;
                border: 2px solid darken($color_tipsBrLeft, 5%);
                border-radius: 50px;
                font-weight: 600;
                margin-right: 10px;
              }
            }
          }
        }
        .panel-collapse {
          .panel-body {

            ol {
              line-height: 2rem;
              padding-left: 80px;
              position: relative;
              list-style: decimal;
              &:before {
                content: '';
                position: absolute;
                border-left: 5px solid $color_tipsBrLeft;
                height: 95%;
                width: 5px;
                top: 0;
                left: 40px;
                margin-top: 8px;
              }
              li {
                span.bolder {
                  font-weight: 600;
                }
                span.red {
                  color: $color_button;
                }
                a {
                  
                }
              }
            }
            ul {
              line-height: 2rem;
              padding-left: 80px;
              position: relative;
              list-style: disc;
              &:before {
                content: '';
                position: absolute;
                border-left: 5px solid $color_tipsBrLeft;
                height: 95%;
                width: 5px;
                top: 0;
                left: 40px;
                margin-top: 8px;
              }
              li {
                span.red {
                  color: $color_button;
                }
                span.bolder {
                  font-weight: 600;
                }
                a {

                }
              }
            }
          }

        }
      }
    }

  }
}