header {
  margin-top: 50px;
  &.header__img {
    background-size: cover;
    height: 200px;
    width: 100%;
    margin-bottom: 10px;
    &--opinions {
      background: url(https://www.pcschool.com.tw/activity/digiAcademy/images/img_opinionsBg.jpg) no-repeat 50% 50%;
    }
    &--faq {
      background: url(https://www.pcschool.com.tw/activity/digiAcademy/images/img_faqBg.jpg) no-repeat 50% 50%;
    }
  }
  #bannerCarousel{
    margin-bottom: 10px;
    height: auto;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    .banner {
      float: left;
    }
    .slick-dots{
      bottom: 10px;
      li {
        button{
          &:before {
            font-size: 1rem;
            color: #dddddd;
          }
        }
      }
    }
  }
}