header {
  margin-top: 50px;
  &.header__img {
    background-size: cover;
    height: 200px;
    width: 100%;
    margin-bottom: 10px;
    &--opinions {
      background: url(https://www.pcschool.com.tw/activity/digiAcademy/images/img_opinionsBg.jpg) no-repeat 50% 50%;
    }
    &--faq {
      background: url(https://www.pcschool.com.tw/activity/digiAcademy/images/img_faqBg.jpg) no-repeat 50% 50%;
    }
    &--courseOverView {
      background: url(https://www.pcschool.com.tw/activity/digiAcademy/images/img_OverViewBg.jpg) no-repeat 50% 50%;
    }
    &--newCourse {
      background: url(https://www.pcschool.com.tw/activity/digiAcademy/images/img_newcourseBg.jpg) no-repeat 50% 50%;
    }
    &--collegeCard {
      background: url(https://www.pcschool.com.tw/activity/digiAcademy/images/img_collegecard.jpg) no-repeat 50% 50%;
    }
    &--allClass {
      background: url(https://www.pcschool.com.tw/activity/digiAcademy/images/img_allclassBg.jpg) no-repeat 50% 50%;
    }
    &--login {
      background: url(https://www.pcschool.com.tw/activity/digiAcademy/images/login.svg) no-repeat 50% 100%;
      background-size: auto;
    }
    &--inqPwd {
      background: url(https://www.pcschool.com.tw/activity/digiAcademy/images/inqPwd.svg) no-repeat 50% 100%;
      background-size: auto;
    }
    &--signup {
      background: url(https://www.pcschool.com.tw/activity/digiAcademy/images/signup.svg) no-repeat 50% 100%;
      background-size: auto;
    }
  }
  #bannerCarousel{
    margin-bottom: 10px;
    height: auto;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    .banner {
      float: left;
    }
    .slick-dots{
      bottom: 10px;
      li {
        button{
          &:before {
            font-size: 1rem;
            color: #dddddd;
          }
        }
      }
    }
  }
}